# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://demo:demo@localhost:5432/demo"
REDIS_CONFIG='{"host": "localhost", "port": 6379}'

TWILIO_ACCOUNT_SID="UPDATE ME"
TWILIO_API_KEY_SID="UPDATE ME"
TWILIO_API_KEY_SECRET="UPDATE ME"
TWILIO_AUTH_TOKEN="UPDATE ME"

NGROK_AUTHTOKEN="UPDATE ME"

CLERK_PUBLISHABLE_KEY="UPDATE ME"
CLERK_SECRET_KEY="UPDATE ME"
CLERK_BASE64_ENCODED_PUBLIC_KEY="UPDATE ME"
CLERK_SVIX_VERIFICATION_ENABLED="false"

PUSHER_APP_ID="UPDATE ME"
PUSHER_KEY="UPDATE ME"
PUSHER_SECRET="UPDATE ME"
PUSHER_CLUSTER="us2"

SPOTIFY_CLIENT_ID="UPDATE ME"
SPOTIFY_CLIENT_SECRET="UPDATE ME"

TWILIO_WEBHOOK_VERIFICATION_ENABLED="false"
